body {
    background: darkgrey;
    margin: 0;
  }
  
  .container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .navigation {
    padding: 0;
    margin: 0;
    background: rgb(42, 42, 42);
    height: 100px;
  }
  
  .main {
    flex-grow: 8;
    background: rgb(56, 54, 54);
  }
  
  .footer {
    flex-grow: 1;
    background: rgb(42, 42, 42);
    height: 125px;
  }
  
  nav {
      text: white;
      text-align: right;
  }

  nav li{
    list-style: none;
    display: inline;
    padding: 0;
    margin: 1em;
    color: white;
    font-size: large;
    font-weight: bold;
  }

  .navigation h3 {
      text-align: left;
      padding: 1em;
      margin: 1em;
      color: white;
  }

  h1 {
      color:white;
      font-size: 60px;
      padding: 1em;
      margin-top: 5em;
      margin-bottom: .1em;
      margin-left: 5em;
      margin-right: 10em;
  }

  button {
    color: white;
    background: rgb(56, 54, 54);
    border: solid rgb(192, 190, 190) .5px ;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .button {
    position: relative;
    bottom: 50px;
    left: 360px;
  }

  .navigation h3 {
    position: relative;
    top: 75px;
    left: 20px;
    font-size: x-large;
  }

  .navigation nav {
    position: relative;
    top: -80px;
    right: 20px;
    padding: 0;
    margin: 0;
  }

  .left{
    text-align: left;
    position: relative;
    left: 40px;
    top: 20px;
  }

  .address {
    text-align: right;
    position: relative;
    right: 100px;
    top: -50px;
    margin: 0;
    padding: 0;
  }

  .contact {
    text-align: right;
    position: relative;
    right: 350px;
    top: -125px;
    margin: 0;
    padding: 0;
  }

  .footer h5 {
    color: grey;
  }